* {
  background-color: rgb(142, 142, 226);
}


.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1{
  color: brown;
}

h2{
  color: blue;
}


button {
  background-color: green;
  color: white;
}

ul{
  color: white;
  font-weight: bold;
}